<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slide Show</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js" ></script>

</head>
<body ng-app="sliderAuto">
<div ng-controller="sliderController" align="center">

    <img ng-src={{currentImagePath}} width="500px" height="500px" >

</div>
<script type="application/javascript">
    var sliderAuto=angular.module("sliderAuto",[]);
    sliderAuto.controller("sliderController",function ($scope,$http,$interval   ) {
        $http.get('http://localhost:3000/images').then(function (response) {
            console.log(response.data);
            $scope.Images=response.data;
        });
        var i=0;
        $interval(function () {
            if(i+1!=$scope.Images.length) {
                $scope.currentImagePath = "http://localhost:3000/images/" + $scope.Images[i];
                i++;
            }
            else {

                $scope.currentImagePath="http://localhost:3000/images/"+$scope.Images[i];
                i = 0;
            }
        },2000);
    });
</script>
</body>
</html>